
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{getDescription()}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
            <app-agent-status-details [data]="data"></app-agent-status-details>
        </div>
        <div class="modal-footer">        
            <button class="ml-2 btn btn-info" (click)="close()">Close</button>
        </div>
        
    </div>


